body {
	background-image: url('../images/train1.jpg');
    color: #E6E2AF;
}

.header {
  font-weight: bold;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}

.container {
	background-color: #0F0F0C;
	width: 100%;
	max-width: 800px;
	padding-left: 30px;
	padding-right: 30px;
	border: 1px solid;
	border-color: #046380;

}

.top-header {
	color: #E6E2AF;
	}

.panel-heading {
	background-color: #046380;
}

.main-title {
	font-size: 30px;
	text-decoration: underline;
}

#main-title {
	color: 	#E6E2AF;
}

.main-panel {
	margin-bottom: 0px;
	background-color: #046380;
}

.panel-title {
	background-color: #046380;
	padding: 10px;
    border-radius: 5px;
	}

#add-train-title {
    color: white;
    font-size: 28px;
}

.bottom-panel {
	margin-top: -5px;
}